<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- ConsoleAppender 콘솔에 로그 남기기 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

	<!-- RollingFileAppender 파일에 로그 남기기 (일자별 로그 관리)-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<!-- 로그 파일 저장 경로 설정 -->
        <file>/User/bomnie/Desktop/access.log</file>
        
         <!-- 파일명 포맷, 최대 로그 수 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="kr.or.connect" level="debug"/>

	<!-- 콘솔, 파일 양쪽 모두에 로그 남기기 -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>